@import './reset.css';

:root {
  --blue-nav: #061a40;
  --blue-gray: #90adc6;
  --yellow: #fad02c;
  --russian-violet: #34113f;
  --pewter: #e9eaec;
  --dark-blue: #333652;

  --nav-mobile: 60px;
  --nav-desktop: 230px;
}

/* src/assets/fonts/fonts.css */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-VariableFont.ttf')
    format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
}
